/* styles.css */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button.btn {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  button.btn.delete {

    background-color: #fd3030;

  }

  .delete-account{
    background: #ffeb7de7;
    padding: 15px;
  }

  .delete-account span{
      font-weight: 600;
  }